/* Start Fonts */
@font-face {
    font-family: 'Inter';
    src: url('fonts/static/Inter-Regular.ttf') format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/static/Inter-Bold.ttf') format("truetype");
    font-weight: Bold;
}
@font-face {
    font-family: 'Inter';
    src: url('fonts/static/Inter-SemiBold.ttf') format("truetype");
    font-weight: 600;
}
/* End Fonts */

/* Start Regular Settings */
:root {
--white: #fff;
--web-bg: #141414;
--box-bg: #1F1F1F;
--box-shadow: #141414;
--link-bg: #333333;
--paragraph-c: #C4F82A;
--heading-s: 1.5rem;
--paragraph-s: 0.938rem;
--job-s: 0.875rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--white);
    height: 100vh;
    background-color: var(--web-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* End Regular Settings */

/* Start content */
.logIn {
    width: 100%;
    max-width: 18rem;
    background-color: var(--box-bg);
    padding: 1.25rem;
    margin: 0 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 2px var(--box-shadow)
}
.image {
    width: 90px;
    margin: 1.25rem auto
}
.image img {
    max-width: 100%;
    border-radius: 50%
}
.text h1 {
    font-size: var(--heading-s);
    font-weight: 600;
    margin: 0.625rem auto
}
.text p {
    color: var(--paragraph-c);
    font-weight: bold;
    font-size: var(--paragraph-s)
}
.text q {
    display: block;
    font-size: var(--job-s);
    margin: 1.875rem auto 0.938rem
}
.links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center
}
.links a {
    display: block;
    margin: 0.438rem auto;
    font-size: var(--paragraph-s);
    text-decoration: none;
    color: var(--white);
    text-transform: capitalize;
    font-weight: bold;
    background-color: var(--link-bg);
    padding: 0.813rem 0;
    width: 100%;
    border-radius: 10px;
    transition: 0.3s
}
.links a:hover {
    background-color: var(--paragraph-c);
    color: var(--box-bg)
}
@media (min-width: 62rem) {
    .logIn {padding: 1.25rem 2.5rem}
}
/* End content */
